/* #region main */

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
/* #endregion */

/* #region header */
.header-logo {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;     
}

.header-logo .header-logo-span{
    color: #2e2f42;
}

.header-nav-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-nav-title:hover {
    color: #404bbf;
}

.header-nav-title:focus {
    color: #404bbf;
}

.header-address {
       font-style: normal; 
}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover {
    color: #404bbf;
}

.header-address-link:focus {
    color: #404bbf;
}
/* #endregion*/

/* #region section hero */
.section-hero {
    background-color: #2e2f42;  
}

.section-hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;   
}

.section-hero-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.section-hero-button:hover,
.section-hero-button:focus {
    background-color: #404BBF;
}

/* #endregion */

/* #region services section */

.servises-section-list h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-list h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region team section */
.section-team .section-list{ 
    text-align: center;
}

/* #endregion */